# Default ignored files
/shelf/
./bsp/
/.idea/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/target
.gitignore
.DS_Store
/project/target/
project/project
/target/
/logs/
/src/main/scala/com/wa9nnn/wa9nnnutil/.idea/codeStyles/codeStyleConfig.xml
/src/main/scala/com/wa9nnn/wa9nnnutil/.idea/codeStyles/Project.xml
/src/main/scala/com/wa9nnn/wa9nnnutil/.idea/misc.xml
/src/main/scala/com/wa9nnn/wa9nnnutil/.idea/modules.xml
/src/main/scala/com/wa9nnn/wa9nnnutil/.idea/vcs.xml
